<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> -->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration">
                                                                                             
<hibernate-configuration>
  <session-factory>
    
    <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver" />
    <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/PooII" />
    <property name="javax.persistence.jdbc.user" value="root" />
    <property name="javax.persistence.jdbc.password" value="root" />
    <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect" />
    <property name="hibernate.hbm2ddl.auto" value="update" />
    
    <mapping class="dominio.Cliente"></mapping>
    <mapping class="dominio.Cidade"></mapping>
    <mapping class="dominio.Venda"></mapping>
    <mapping class="dominio.Endereco"></mapping>
    <mapping class="dominio.Produto"></mapping>
    <mapping class="dominio.ProdutoVenda"></mapping>
    
  </session-factory>
</hibernate-configuration>
